.pdf-template {
  /* Estilos do modelo PDF, como cores, fontes, margens, etc. */
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: auto;
  width: 80%;
}
.calisto{
  font-family: 'Calisto MT'
}

.calisto_bold{
  font-family: 'Calisto MT';
  font-weight: bold
}

.calisto_bold_center{
  font-family: 'Calisto MT';
  font-weight: bold;
  text-align: center;
}

.calisto_bold_size{
  font-family: 'Calisto MT';
  font-weight: bold;
  font-size: 11.97px;
}
.text_primary{
  margin-top: 7.98px;
  margin-bottom: 0px;
  line-height: normal;
  font-size: 11.97px

}
.text_secundary{
  margin-bottom: 19.95px;
  text-align: center; 
  line-height: normal; 
  font-size:  9.31px
}

.table_primary{
  width: 92%;
  margin-bottom: 0px;
  border-collapse: collapse;
}

.line_table_primary{
  height: 26.47px;
}

.column_table_primary{
  width: 15%;
  padding-right: 1%;
  padding-left: 1%;
  vertical-align: middle;
  background-color: #ffffff; 
}

.paragraph_primary{
  margin-bottom: 0px;
   text-align: justify;
   font-size: 11.97px;
}

.email{
  text-decoration: none
}