.option-nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}    

.expansive-options{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border-radius: 15px;
    padding: 5%;
}

li p{
    color: #fff;

}