span{
    margin-right: 10px;
}

#search-button{
    color: #fff;
    background-color: #078640;
    margin-left: 1rem;
}

.table-menu{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.input-search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.show-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.btn-filtros{
    width: 10%;
}

@media screen and (max-width: 768px) {
    .table-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .input-search{
        width: 60%;
    }

    .show-items{
        flex-direction: column;
        align-items: center;
    }
}
