*{
    margin: 50;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
p,span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

body{
    display: flex;
    padding: 10px;
    background: #1aaa4c;

}
.upload-box > p{
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}

img{
    width: 100%;
}

.icon{
    width: 90px;
    height: 90px;
}

.upload-box{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}

.upload-box form{
    height: 170px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #29ba2a;

}

form :where(i, p){
    color: #29ba2a;
}

form i{
    font-size: 50px;
}

form p{
    margin-top: 15px;
    font-size: 16px;
}

section .row{
    margin-bottom: 10px;
    background: #e1f8e3;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i{
    color: #1aaa4c;
    font-size: 40px;
}

section .details span{
    font-size: 13px;
}

.loading-area .row .content{
    width: 100%;
    margin-left: 15px;
}

.loading-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.loading-area .content .loading-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .loading-bar .loading{
    height: 100%;
    width: 20%;
    background: #4ac073;
    border-radius: inherit;
}



.uploaded-area{
    max-height: 232px;
    overflow-y: scroll;
}

.uploaded-area.onprogress{
    max-height: 250px;
}

.uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.uploaded-area .row .content{
    display: flex;
    align-items: center;
}

.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .row .details .size{
    color: #404040;
    font-size: 11px;
}

.uploaded-area i.mdi-check-bold{
    font-size: 16px;
}