@import'../../assets/scss/colors.scss';
@import'../../assets/scss/buttons.scss';


.title{
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 2px solid #979996;
margin: 0 30px;
}

.title1 {
color: #454548;
text-align: center;
}

.title2 {
    color: #454548;
    text-align: left;
    margin: 0 30px;

}

.btn {
    
    text-align: center;
    margin: 0 110px;
    @include button-submit
}


.text1{
    font-size: 16px;
    color: #454548;
}

.router{
        text-decoration: none;
        color: inherit; 
}